@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-list {
        flex-direction: column;
        width: 100%;
    }
    .nav-item a {
        padding: 10px;
        width: 100%;
        text-align: left;
    }

    .boards {
        grid-template-columns: 1fr;
    }

    .grid {
        aspect-ratio: 1;
    }
}